* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.nav

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra_button {
    display: flex;
}
