* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

h2 {
    color: #fff;
}

a {
    color: #b3b3b3;
    border-bottom: 1px solid transparent;
    list-style: none;
    text-decoration: none;
}

.root_nav-bar {
    width: 200px;
    float: left;
    height: 80vh;
}

.navbar {
    height: 100%;
    position: fixed;
    padding: 24px 0 0;
}

.navbar-header {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo_navbar {
    padding: 0 0 18px 24px;
}

.scritta_logo {
    background-color: white;
    width: 131px;
    height: 40px;
}

.navbar-item {
    font-size: 14px;
    line-height: 20px;
    padding: 0 8px;
}

.navbar_link {
    color: #b3b3b3;
    width: 100%;
    padding: 0 16px;
    float: left;
    height: 40px;
    text-decoration: none;
    font-weight: 700;
}

.navbar_link:hover {
    color: #fff;
}

.fas {
    color: #b3b3b3;
    float: left;
    padding-right: 10px;
    font-size: 16px;
}

.far {
    color: #b3b3b3;
    float: left;
    padding-right: 10px;
    font-size: 16px;
}

.fas:hover {
    color: #fff;
}

.far:hover {
    color: #fff;
}

#casa_color {
    color: #fff;
}

.fa-home {
    color: #fff;
}

.navbar_footer {
    margin-top: auto;
}

.navbar_signup {
    width: 100%;
    margin: auto 0;
    padding: 0 auto;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.copyright {
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright a {
    font-size: 12px;
    color: #b3b3b3;
    vertical-align: top;
    display: inline-block;
    font-weight: 700;
}

.divisore {
    vertical-align: top;
    display: inline-block;
    height: 1px;
    width: 13px;
    border-bottom: 1px solid #b3b3b3;
    border-left: none;
    margin: 7px 0;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    top: 0;
}

.barra_hd {
    background-color: black;
    height: 15%;
    position: fixed;
    display: flex;
    padding: 16px 24px;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.avanti-or-indietro {
    border: none;
    height: 32px;
    width: 32px;
    background-color: #000;
    color: #fff;
    display: inline-flex;
    justify-content: center;
}

#indietro {
    opacity: .6;
}

.button_go-in {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 500px;
    color: #fff;
    transition: all 33ms cubic-bezier(.3,0,0,1);
    padding: 8px 34px;
    display: inline-block;
}

#iscriviti {
    background-color: transparent;
    color: #fff;
}

#accedi {
    background-color: #fff;
    color: #181818;
}

.root_now-playing-bar {
    background-color: #282828;
    color: #b3b3b3;
    align-items: center;
    display: flex;
    height: 90px;
    padding: 0 16px;
}

.now-playing-bar__left {
    width: 30%;
    min-width: 180px;
}

.now-playing-bar__center {
    width: 40%;
    max-width: 722px;
}

.player-controls, .player-controls__buttons {
    display: flex;
}

.player-controls {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-controls__buttons {
    margin-bottom: 12px;
    width: 224px;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.spoticon {
    background-color: black;
    border: none;
    background-color: transparent;
    width: 32px;
    min-width: 32px;
    height: 32px;
}

.progress-bar {
    position: relative;
    width: 100%;
}

.playback-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.playback-bar__progress-time {
    font-size: 11px;
    line-height: 16px;
    min-width: 40px;
    text-align: center;
}

.progress-bar__wrapper {
    background-color: #404040;
    border-radius: 2px;
    display: flex;
    height: 4px;
    width: 100%;
}

.progress-bar__fg-time {
    overflow: hidden;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.progress-bar__slider {
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    transform: scale(0);
}

.now-playing-bar__right {
    width: 30%;
    min-width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.now-playing-bar__right__inner {
    width: 180px;
}

.ExtraControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume-bar {
    align-items: center;
    width: 200px;
    display: flex;
}

.progress-bar__fg {
    background-color: #b3b3b3;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    transform: translateX(0%);
}

main {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.content-music {
    color: #b3b3b3;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 32px;
}

.content__title {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    margin: 30px 0 20px 0;
}

.content__focus {
    font-size: 28px;
    line-height: 1.6;
    font-weight: 600;
    color: #fff;
    flex: 1 0 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.head_two__focus {
    font-size: 28px;
    line-height: 1.6;
    font-weight: 600;
    display: inline;
    white-space: nowrap;
}

.content__subtitle {
    font-size: 14px;
    display: block;
    flex: 1 100%;
}

.music__card {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 16px;
    background: #282828;
    border-radius: 8px;
    margin-right: 10px;
}

.react-contextmenu-wrapper {
    display: flex;
    flex-direction: column;
}

.music_logo {
    height: 0;
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 16px;
    background-color: #333;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}

.copertina__disco {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.name__copertina {
    min-height: 62px;
}

.nome_cognome__artista {
    color: #fff;
}

.explication__copertina {
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b3b3b3;
    padding: 0;
    margin-top: 4px;
}

.music__play-react {
    opacity: 0;
    position: absolute;
    bottom: 16px;
    box-shadow: 0 0 10px 10px #282828;
    z-index: 2;
    border-radius: 500px;
}
